- @project = Project.find(params[:id])
.panel.comment-board-panel
    .h2.comment-board-title
        = @project.project_name
    .project_comments
        - @project.comments.each do |c|
            .project_posts   
                = "- #{c}"

