.panel.task-list-panel
    .h2.task-panel-title
        TASKS:
    .user-loot-list
        Group Presentation
        .loot-count{style: "margin-left: 20px;"}
            +80 gold
        .br
        Develop Documentation
        .loot-count{style: "margin-left: 20px;"}
            +50 gold
        .br
        Submit Code for Review
        .loot-count{style: "margin-left: 20px;"}
            +25 gold
    %button.create-new-post-button{style: "margin-top: 295px;"}
        Add Task

