.panel.task-list-panel
    .h2.task-panel-title
        TASKS:
    .users-top-loot
        Top Loot
    .user-loot-list
        Master Sword
        .br
        Crown of Roses
        .br
        Ancient Chainmail