- @user_full_name = current_user.first_name + " " + current_user.last_name
.panel.team-member-panel
    .h2.team-members-title
        Project Team Members
    .team-member-name
        = @user_full_name
    .team-member-two
        Brandon Kessinger
    .team-member-three
        Mohammed Hasan
    .team-member-four
        Luciana Mendez
    .team-member-five
        Krysztof Radamski
    .team-member-six
        William Schroeder