.main-container-project-page
  .row
    .col-md-4
      .left-side-task-panel
        = render partial: "task_panel"
    .col-md-4
      .central-comment-board-panel
        = render partial: "comment_board_panel"
    .col-md-4
      .central-comment-board-panel
        = render partial: "team_member_panel"
  -# %strong.character-title 
  -#   %p#notice= notice
  -#   %p
  -#     %strong Project name:
  -#     = @project.project_name
  -#   %p
  -#     %strong Project description:
  -#     = @project.project_description
  -#   %p
  -#     %strong Member count:
  -#     = @project.member_count
  -#   = link_to 'Edit', edit_project_path(@project)
  -#   |
  -#   = link_to 'Back', details_path