.main-container-project-page
  .row
    .col-md-4
      .left-side-task-panel
        = render partial: "task_panel"
    .col-md-4
      .central-comment-board-panel
        = render partial: "comment_board_panel"
    .col-md-4
      .central-comment-board-panel
        = render partial: "team_member_panel"