body {
  background-color: #fff;
  color: #333;
  margin: 33px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}
// Above are widespread css rules that come out of the box

.btn.btn-primary.dropdown-toggle.user-menu {
  a {
    &:hover {
      background-color: transparent;
    }
    &:visited {
      background-color: transparent;
    }

  }
}


// My Character Page CSS 

.row.custom-character-info-row {
  width: 125% !important;
}

.row.custom-project-list-row {
  width: 125% !important;
  margin-top: 45px !important;
}

.main-container {
  overflow: hidden;
  height: calc(100vh - 155px);
  background-color: rgba(242, 242, 242, 1);
  font-family: Source Sans Pro;
}

.character-title {
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-left: 35px; 
}

.q-nav-bar-title {
  font-size: 20px;
  padding-left: 20px !important;

  a {
    color: white !important;
    font-size: 28px !important;

    &:hover {
      text-decoration: none !important;
      background-color: transparent;
    }
    &:visited {
      background-color: transparent;
    }

  }
}

.loot-container {
  margin: 10px;
}

.panel.loot-details-panel {
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.4);
  padding: 30px;
}

.loot-window {
  padding: 85px;
}


.h2.loot-display-title {
  font-size: 25px;
  margin-top: -5px;
}

.loot-display-body {
  margin-top: -15px;
  font-size: 15px;
  text-align: center !important;
  padding: 2px;
}

.user-info-container {
  margin: 10px;
}

.panel.user-details-panel {
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.4);
  padding: 30px;
}

.user-info-window {
  padding: 85px;
}

.h2.user-display-title {
  font-size: 25px;
  margin-top: -5px;
}

.user-display-body {
  margin-top: -15px;
  font-size: 15px;
  text-align: center !important;
  padding: 2px;
}

.project-awards-container {
  margin: 10px;
}

.panel.project-awards-panel {
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.4);
  padding: 30px;
}

.project-awards-window {
  padding: 85px;
}

.h2.project-display-title {
  font-size: 25px;
  margin-top: -5px;
}

.project-display-body {
  margin-top: -15px;
  font-size: 15px;
  text-align: center !important;
  padding: 2px;
}

.project-table-info {
  font-size: 18px !important;
}

.project-list-container {
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 40px;
  font-size: 26px;
  width: 85%;
}

.project-details {
  display: inline-block;
}

.project-actions {
  text-decoration: none;
  color: black !important;
  float: right !important;
}

.new-project-link {
  margin-top: 120px !important;
}

// CSS Rules for the Project page
.project-title {
  margin: 20px; 
}









// CSS Rules for the Landing page




// CSS Rules for the Login 