.panel.loot-details-panel
    .h2.loot-display-title
        LOOT BREAKDOWN
    .users-top-loot
        Top Loot
    .user-loot-list
        Master Sword
        .br
        Ocarina of Time
        .br
        Major's Mask
