- @user = User.find(1)
.panel.project-awards-panel
    .h2.project-display-title
        PROJECT STATS
    .user-project-count
        Project Count: #{@user.projects.count}
    -#     .panel-body
    -#         .project-display-body
    -#             "PROJECT INFO HERE"
    