.panel.project-awards-panel
    .h2.project-display-title
        PROJECT STATS
    .user-project-count
        Project Count: #{current_user.projects.count}
    .user-project-award-count
        Champion: #{current_user.champion}
        .br
        Most Communicative: #{current_user.most_communicative}
        .br
        Best Leadership: #{current_user.best_leadership}
    -#     .panel-body
    -#         .project-display-body
    -#             "PROJECT INFO HERE"
    