.panel.project-awards-panel
    .h2.project-display-title
        "PROJECT DETAILS"
    .project-awards-window
        .panel-body
            .project-display-body
                "PROJECT INFO HERE"