.main-container
  %h1.character-title 
    My Character
  .container
    .row.custom-character-info-row
      .loot-container
        = render partial: "loot_details"
      .user-info-container
        = render partial: "user_details"
      .project-awards-container
        = render partial: "project_awards"
    .row.custom-project-list-row
      .project-list-container
        = render partial: "user_project_list"

-# %table
-#   %thead
-#     %tr
-#       %th
-#       %th
-#       %th

-#   %tbody
-#     - @details.each do |detail|
-#       %tr
-#         %td= link_to 'Show', detail
-#         %td= link_to 'Edit', edit_detail_path(detail)
-#         %td= link_to 'Destroy', detail, method: :delete, data: { confirm: 'Are you sure?' }

-# %br

-# = link_to 'New Detail', new_detail_path
